<div class="col-10 offset-1 about">
    <h1>About MyApp</h1>

    <p class>
        MyApp was built by <a target="blank" href="https://github.com/ReneeSandefur">Renee</a>. Doing the coding thing at The Firehose Project.
    </p>
    
    <div class="row">
        <div class="col-12 col-sm-4">
            <%= image_tag 'Renee.jpg', class: 'img-fluid' %>
        </div>
    
        <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Renee Sandefur</h2>
        <br />
        <p> Renee Sandefur is a former sales representative turned developer. She has a passion for people and finding new ways to innovate and create change for them. After doing that for years in the sales field she is taking on the challenge of creating change through the world of programming.
        </p>
        </div>
    </div>
</div>


   <br class="clear" />
